<div class="container">
  @if(salle.id){
  <h1>Edition de la salle numéro {{ salle.id }}</h1>
  }@else {
  <h1>Création d'une salle</h1>
  }
  <div class="form-group mb-3">
    <label for="superficie">Superficie :</label>
    <input
      id="superficie"
      class="form-control"
      [(ngModel)]="salle.superficie"
    />
  </div>
  <div class="form-group mb-3">
    <label for="libelle">Libelle :</label>
    <input id="libelle" class="form-control" [(ngModel)]="salle.libelle" />
  </div>

  <div class="form-group mb-3">
    <label for="videoprojecteur">Video projecteur :</label>
    <select
      [compareWith]="compareOn"
      [(ngModel)]="salle.videoprojecteurResponse"
      id="videoprojecteur"
      class="form-control"
    >
      <option value="null">Aucun</option>
      @for(o of VideoprojecteurObservable|async; track o.id){
      <option [ngValue]="o">
        {{ o.libelle }}
      </option>
      }
    </select>
  </div>

  <div class="form-group">
    <button class="btn btn-outline-primary m*2" (click)="save()">
      Enregistrer
    </button>
    <a
      [routerLink]="['/salle']"
      routerLinkActive="router-link-active"
      class="btn btn-outline-warning m-2"
      >Retour</a
    >
  </div>
</div>
