<div class="container">
  <h1>Liste des salles</h1>
  <a
    class="nav-link active"
    aria-current="page"
    [routerLink]="['/salle/edit']"
    routerLinkActive="router-link-active"
    class="btn btn-primary m-3"
    >Création d'une salle</a
  >
  @if(showMessage){
  <div class="alert {{ style }}">{{ message }}</div>
  }
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Id</td>
        <td>Libelle</td>
        <td>Superficie</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      @for(s of salles; track s.id){
      <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.libelle }}</td>
        <td>{{ s.superficie }}</td>

        <td>
          <a
            routerLink="/salle/edit/{{ s.id }}"
            routerLinkActive="router-link-active"
            class="btn btn-outline-primary"
            >Editer</a
          >
        </td>
        <td>
          <button
            class="btn btn-outline-danger"
            (click)="delete(s.id!)"
            value="Supprimer"
          >
            Supprimer
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
