<div class="container">
  @if(videoprojecteur.id){
  <h1>Edition du vVidéoprojecteur numéro {{ videoprojecteur.id }}</h1>
  }@else {
  <h1>Création d'un Vidéoprojecteur</h1>
  }
  <form (ngSubmit)="save()" #form="ngForm">
    <div class="form-group mb-3">
      <label for="libelle">Libelle :</label>
      <input
        id="libelle"
        class="form-control"
        [(ngModel)]="videoprojecteur.libelle"
        name="libelle"
        required
        #libelleCtrl="ngModel"
      />
      @if(libelleCtrl.invalid && libelleCtrl.dirty){
      <div class="text-danger fst-italic">*obligatoire</div>
      }
    </div>
    <div class="form-group mb-3">
      <label for="adresseMac">Adresse Mac :</label>
      <input
        id="adresseMac"
        class="form-control"
        [(ngModel)]="videoprojecteur.adresseMac"
        name="adresseMac"
        required
        #adresseCtrl="ngModel"
      />
      @if(adresseCtrl.invalid && adresseCtrl.dirty){
      <div class="text-danger fst-italic">*obligatoire</div>
      }
    </div>
    <div class="form-group mb-3">
      <label for="dateAchat">Date d'achat :</label>
      <input
        id="dateAchat"
        type="date"
        class="form-control"
        [(ngModel)]="videoprojecteur.dateAchat"
        name="dateAchat"
        required
        #dateCtrl="ngModel"
      />
      @if(dateCtrl.invalid && dateCtrl.dirty){
      <div class="text-danger fst-italic">*obligatoire</div>
      }
    </div>
    <div class="form-group mb-3">
      <label for="status">Status :</label>
      <select
        [compareWith]="compareStn"
        [(ngModel)]="videoprojecteur.status"
        id="status"
        class="form-control"
        name="status"
        #statusCtrl="ngModel"
      >
        <option ngValue="DISPONIBLE">DISPONIBLE</option>
        <option ngValue="INDISPONIBLE">INDISPONIBLE</option>
      </select>
      @if(statusCtrl.invalid && statusCtrl.dirty){
      <div class="text-danger fst-italic">*obligatoire</div>
      }
    </div>
    <div class="form-group mb-3">
      <label for="salle">Salle :</label>
      <select
        [compareWith]="compareS"
        [(ngModel)]="videoprojecteur.salleResponse"
        id="salle"
        class="form-control"
        name="salle"
        #salleCtrl="ngModel"
      >
        <option value="null">Aucun</option>
        @for(s of SalleObservable|async; track s.id){
        <option [ngValue]="s">
          {{ s.id }}
        </option>
        }
      </select>
      @if(salleCtrl.invalid && salleCtrl.dirty){
      <div class="text-danger fst-italic">*obligatoire</div>
      }
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-outline-primary"
        [disabled]="form.invalid"
      >
        Enregistrer
      </button>
      <a
        [routerLink]="['/videoprojecteur']"
        routerLinkActive="router-link-active"
        class="btn btn-outline-warning m-2"
        >Retour</a
      >
    </div>
  </form>
</div>
