<div class="container">
  <h1>Bloc : {{ bloc.libelle }}</h1>
  <div class="card m-auto mt-5 mb-5 card-pers" style="width: 18rem">
    <div class="card-body">
      <p class="card-text"><b>Id :</b> {{ bloc.id }}</p>
      <p class="card-text"><b>Libellé :</b> {{ bloc.libelle }}</p>
      <p class="card-text">
        <b>Date de début :</b> {{ bloc.dateDebut | date : "dd/MM/yyyy" }}
      </p>
      <p class="card-text">
        <b>Date de fin :</b> {{ bloc.dateFin | date : "dd/MM/yyyy" }}
      </p>
      <p class="card-text"><b>Code :</b> {{ bloc.code }}</p>
      <p class="card-text"><b>Objectif :</b> {{ bloc.objectif }}</p>
      <p class="card-text">
        <b>Formateur :</b> {{ bloc.formateurResponse?.nom }}
      </p>
      <p class="card-text">
        <b>Matière :</b> {{ bloc.matiereResponse?.titre }}
      </p>
      <p class="card-text"><b>Salle :</b> {{ bloc.salleResponse?.libelle }}</p>
    </div>
  </div>
  <button class="btn btn-outline-primary" (click)="goBack()">Retour</button>
</div>
