<div class="container">
  @if(competence.id){
  <h1>Edition de la compétence numéro {{ competence.id }}</h1>
  }@else {
  <h1>Création d'une compétence</h1>
  }
  <form (ngSubmit)="save()" #form="ngForm">
    <div class="form-group mb-3">
      <label for="nom">Nom :</label>
      <input
        id="nom"
        class="form-control"
        [(ngModel)]="competence.nom"
        name="nom"
        required
        #nomCtrl="ngModel"
      />
      @if(nomCtrl.invalid && nomCtrl.dirty){
      <div class="text-danger fst-italic">*obligatoire</div>
      }
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-outline-primary"
        [disabled]="form.invalid"
      >
        Enregistrer
      </button>
      <a
        [routerLink]="['/competence']"
        routerLinkActive="router-link-active"
        class="btn btn-outline-warning m-2"
        >Retour</a
      >
    </div>
  </form>
</div>
