<div class="container">
  <h1>Liste des ordinateurs</h1>
  <a
    class="nav-link active"
    aria-current="page"
    [routerLink]="['/ordinateur/edit']"
    routerLinkActive="router-link-active"
    class="btn btn-primary m-3"
    >Création d'un ordinateur</a
  >
  @if(showMessage){
  <div class="alert {{ style }}">{{ message }}</div>
  }
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Id</td>
        <td>Libelle</td>
        <td>Adresse mac</td>
        <td>Date d'achat</td>
        <td>OS</td>
        <td>Status</td>
        <td>Salle</td>
        <td>Editer</td>
        <td>Supprimer</td>
      </tr>
    </thead>
    <tbody>
      @for(o of ordinateurs; track o.id){
      <tr>
        <td>{{ o.libelle }}</td>
        <td>{{ o.id }}</td>
        <td>{{ o.adresseMac }}</td>
        <td>{{ o.dateAchat | date : "dd/MM/yyyy" }}</td>
        <td>{{ o.os }}</td>
        <td>{{ o.status }}</td>
        <td>{{ o.salleResponse?.libelle }}</td>

        <td>
          <a
            routerLink="/ordinateur/edit/{{ o.id }}"
            routerLinkActive="router-link-active"
            class="btn btn-outline-primary"
            >Editer</a
          >
        </td>
        <td>
          <button
            class="btn btn-outline-danger"
            (click)="delete(o.id!)"
            value="Supprimer"
          >
            Supprimer
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
