<div class="container">
  @if(technicien.id){
  <h1>Edition du technicien numéro {{ technicien.id }}</h1>
  }@else {
  <h1>Création d'un technicien</h1>
  }
  <form (ngSubmit)="save()" #form="ngForm">
    <div class="form-group mb-3">
      <label for="prenom">Prénom :</label>
      <input
        id="prenom"
        class="form-control"
        [(ngModel)]="technicien.prenom"
        name="prenom"
        required
        #prenomCtrl="ngModel"
      />
      @if(prenomCtrl.invalid && prenomCtrl.dirty){
      <div class="text-danger fst-italic">*obligatoire</div>
      }
    </div>
    <div class="form-group mb-3">
      <label for="nom">Nom :</label>
      <input
        id="nom"
        class="form-control"
        [(ngModel)]="technicien.nom"
        name="nom"
        required
        #nomCtrl="ngModel"
      />
      @if(nomCtrl.invalid && nomCtrl.dirty){
      <div class="text-danger fst-italic">*obligatoire</div>
      }
    </div>
    <div class="form-group mb-3">
      <label for="mail">Email :</label>
      <input
        id="mail"
        type="mail"
        class="form-control"
        [(ngModel)]="technicien.mail"
        name="mail"
        required
        #mailCtrl="ngModel"
      />
      @if(mailCtrl.invalid && mailCtrl.dirty){
      <div class="text-danger fst-italic">*obligatoire</div>
      }
    </div>
    <div class="form-group mb-3">
      <label for="telephone">Téléphone :</label>
      <input
        id="telephone"
        class="form-control"
        [(ngModel)]="technicien.telephone"
        name="telephone"
        required
        #telephoneCtrl="ngModel"
      />
      @if(telephoneCtrl.invalid && telephoneCtrl.dirty){
      <div class="text-danger fst-italic">*obligatoire</div>
      }
    </div>
    <div class="form-group mb-3">
      <label for="ordinateur">Ordinateur :</label>
      <select
        [compareWith]="compareOn"
        [(ngModel)]="technicien.ordinateurResponse"
        id="ordinateur"
        class="form-control"
        name="ordinateur"
        required
        #ordinateurCtrl="ngModel"
      >
        <option value="null">Aucun</option>
        @if(technicien.id){
        <option [ngValue]="technicien.ordinateurResponse">
          {{ technicien.ordinateurResponse?.id }}
        </option>
        } @for(o of OrdinateurObservable|async; track o.id){
        <option [ngValue]="o">
          {{ o.libelle }}
        </option>
        }
      </select>
      @if(ordinateurCtrl.invalid && ordinateurCtrl.dirty){
      <div class="text-danger fst-italic">*obligatoire</div>
      }
    </div>
    <div class="form-group mb-3">
      <label for="compte">Compte :</label>
      <select
        [compareWith]="compareCn"
        [(ngModel)]="technicien.compteResponse"
        id="compte"
        class="form-control"
        name="compte"
        required
        #compteCtrl="ngModel"
      >
        @if(technicien.id){
        <option [ngValue]="technicien.compteResponse">
          {{ technicien.compteResponse?.login }}
        </option>
        } @for(c of CompteObservable|async; track c.id){
        <option [ngValue]="c">
          {{ c.login }}
        </option>
        }
      </select>
      @if(compteCtrl.invalid && compteCtrl.dirty){
      <div class="text-danger fst-italic">*obligatoire</div>
      }
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-outline-primary"
        [disabled]="form.invalid"
      >
        Enregistrer
      </button>
      <a
        [routerLink]="['/technicien']"
        routerLinkActive="router-link-active"
        class="btn btn-outline-warning m-2"
        >Retour</a
      >
    </div>
  </form>
</div>
