<div class="container">
  <h1>Ma Formation</h1>
  <div class="card m-auto mt-5 mb-5" style="width: 18rem">
    <div class="card-body">
      <p class="card-text"><b>Id :</b> {{ formation.id }}</p>
      <p class="card-text"><b>Prérequis :</b> {{ formation.prerequis }}</p>
      <p class="card-text">
        <b>Début :</b> {{ formation.debut | date : "dd/MM/yyyy" }}
      </p>
      <p class="card-text">
        <b>Fin :</b> {{ formation.fin | date : "dd/MM/yyyy" }}
      </p>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Id</td>
        <td>Libellé</td>
        <td>Date Début</td>
        <td>Date Fin</td>
        <td>Code</td>
        <td>Objectif</td>
        <td>Formateur</td>
        <td>Matiere</td>
        <td>Salle</td>
      </tr>
    </thead>
    <tbody>
      @for(b of blocs; track b.id){
      <tr>
        <td>{{ b.id }}</td>
        <td>{{ b.libelle }}</td>
        <td>{{ b.dateDebut | date : "dd/MM/yyyy" }}</td>
        <td>{{ b.dateFin | date : "dd/MM/yyyy" }}</td>
        <td>{{ b.code }}</td>
        <td>{{ b.objectif }}</td>
        <td>{{ b.formateurResponse?.nom }}</td>
        <td>{{ b.matiereResponse?.titre }}</td>
        <td>{{ b.salleResponse?.libelle }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
