<div class="container">
  <h1>Liste des Blocs</h1>
  @if(showMessage){
  <div class="alert {{ style }}">{{ message }}</div>
  }
  <form (ngSubmit)="save()" #form="ngForm">
    <div class="form-group mb-3">
      <label for="bloc">Blocs:</label>
      <select [(ngModel)]="bloc" id="bloc" class="form-control" name="bloc">
        @for (b of blocsObservable|async; track b.id) {
        <option [ngValue]="b">
          {{ b.libelle }}
        </option>
        }
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-outline-primary mb-5">
        Ajouter
      </button>
    </div>
  </form>

  @if(formation.blocsResponse?.length != 0){

  <table class="table table-striped">
    <thead>
      <tr>
        <td>Id</td>
        <td>Libelle</td>
        <td>Date Début</td>
        <td>Date Fin</td>
        <td>Code</td>
        <td>Objectif</td>
        <td>Formateur</td>
        <td>Matiere</td>
        <td>Salle</td>
        <td>Supprimer</td>
      </tr>
    </thead>
    <tbody>
      @for(b of formation.blocsResponse; track b.id){
      <tr>
        <td>{{ b.id }}</td>
        <td>{{ b.libelle }}</td>
        <td>{{ b.dateDebut | date : "dd/MM/yyyy" }}</td>
        <td>{{ b.dateFin | date : "dd/MM/yyyy" }}</td>
        <td>{{ b.code }}</td>
        <td>{{ b.objectif }}</td>
        <td>{{ b.formateurResponse?.nom }}</td>
        <td>{{ b.matiereResponse?.titre }}</td>
        <td>{{ b.salleResponse?.libelle }}</td>
        <td>
          <button
            class="btn btn-outline-danger"
            (click)="delete(b.id!)"
            value="Supprimer"
          >
            Supprimer
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
