<div class="container">
  <h1>Liste des techniciens</h1>
  <a
    aria-current="page"
    routerLink="/technicien/edit"
    routerLinkActive="router-link-active"
    class="btn btn-primary m-3"
    >Création d'un technicien</a
  >
  @if(showMessage){
  <div class="alert {{ style }}">{{ message }}</div>
  }
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Id</td>
        <td>Prénom</td>
        <td>Nom</td>
        <td>Email</td>
        <td>Téléphone</td>
        <td>Ordinateur</td>
        <td>Compte</td>
        <td>Editer</td>
        <td>Supprimer</td>
      </tr>
    </thead>
    <tbody>
      @for(t of techniciens; track t.id){
      <tr>
        <td>{{ t.id }}</td>
        <td>{{ t.prenom }}</td>
        <td>{{ t.nom }}</td>
        <td>{{ t.mail }}</td>
        <td>{{ t.telephone }}</td>
        <td>{{ t.ordinateurResponse?.id }}</td>
        <td>{{ t.compteResponse?.login }}</td>
        <td>
          <a
            routerLink="/technicien/edit/{{ t.id }}"
            routerLinkActive="router-link-active"
            class="btn btn-outline-primary"
            >Editer</a
          >
        </td>
        <td>
          <button
            class="btn btn-outline-danger"
            (click)="delete(t.id!)"
            value="Supprimer"
          >
            Supprimer
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
