<div class="container">
  <h1>Liste des Comptes</h1>
  <a
    class="nav-link active"
    aria-current="page"
    routerLink="/compte/edit"
    routerLinkActive="router-link-active"
    class="btn btn-primary m-3"
    >Création d'un compte</a
  >
  @if(showMessage){
  <div class="alert {{ style }}">{{ message }}</div>
  }
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Id</td>
        <td>Login</td>
        <td>Rôle</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      @for(c of comptes; track c.id){
      <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.login }}</td>
        <td>{{ c.role }}</td>
        <td>
          <a
            routerLink="/compte/edit/{{ c.id }}"
            routerLinkActive="router-link-active"
            class="btn btn-outline-primary"
            >Editer</a
          >
        </td>
        <td>
          @if(c.role=="ROLE_ADMIN"){ Aucune supression possible }@else {
          <button
            class="btn btn-outline-danger"
            (click)="delete(c.id!)"
            value="Supprimer"
          >
            Supprimer
          </button>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
