<div class="container">
  @if(technicien.id){
  <h1>Edition du technicien numéro {{ technicien.id }}</h1>
  }@else {
  <h1>Création d'un technicien</h1>
  }
  <div class="form-group mb-3">
    <label for="prenom">Prénom :</label>
    <input id="prenom" class="form-control" [(ngModel)]="technicien.prenom" />
  </div>
  <div class="form-group mb-3">
    <label for="nom">Nom :</label>
    <input id="nom" class="form-control" [(ngModel)]="technicien.nom" />
  </div>
  <div class="form-group mb-3">
    <label for="email">Email :</label>
    <input
      id="email"
      type="email"
      class="form-control"
      [(ngModel)]="technicien.mail"
    />
  </div>
  <div class="form-group mb-3">
    <label for="ordinateur">Ordinateur :</label>
    <select
      [compareWith]="compareOn"
      [(ngModel)]="technicien.ordinateurResponse"
      id="ordinateur"
      class="form-control"
    >
      <option value="null">Aucun</option>
      @for(o of OrdinateurObservable|async; track o.id){
      <option [ngValue]="o">
        {{ o.libelle }}
      </option>
      }
    </select>
  </div>
  <div class="form-group mb-3">
    <label for="compte">Compte :</label>
    <select
      [compareWith]="compareCn"
      [(ngModel)]="technicien.compteResponse"
      id="compte"
      class="form-control"
    >
      <option value="null">Aucun</option>
      @for(c of CompteObservable|async; track c.id){
      @if(c.role=='ROLE_TECHNICIEN'){
      <option [ngValue]="c">
        {{ c.login }}
      </option>
      } }
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-outline-primary m*2" (click)="save()">
      Enregistrer
    </button>
    <a
      [routerLink]="['/technicien']"
      routerLinkActive="router-link-active"
      class="btn btn-outline-warning m-2"
      >Retour</a
    >
  </div>
</div>
