<div class="container">
  <h1>Liste des Videoprojecteurs</h1>
  <a
    class="nav-link active"
    aria-current="page"
    [routerLink]="['/videoprojecteur/edit']"
    routerLinkActive="router-link-active"
    class="btn btn-primary m-3"
    >Création d'un Vidéoprojecteur</a
  >
  @if(showMessage){
  <div class="alert {{ style }}">{{ message }}</div>
  }
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Id</td>
        <td>Libelle</td>
        <td>Adresse mac</td>
        <td>Date achat</td>
        <td>Status</td>
        <td>Salle</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      @for(v of videoprojecteurs; track v.id){
      <tr>
        <td>{{ v.id }}</td>
        <td>{{ v.libelle }}</td>
        <td>{{ v.adresseMac }}</td>
        <td>{{ v.dateAchat | date : "dd/MM/yyyy" }}</td>
        <td>{{ v.status }}</td>
        <td>{{ v.salleResponse?.libelle }}</td>
        <td>
          <a
            routerLink="/videoprojecteur/edit/{{ v.id }}"
            routerLinkActive="router-link-active"
            class="btn btn-outline-primary"
            >Editer</a
          >
        </td>
        <td>
          <button
            class="btn btn-outline-danger"
            (click)="delete(v.id!)"
            value="Supprimer"
          >
            Supprimer
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
