<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a
      class="navbar-brand logo"
      aria-current="page"
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
      ><img src="logo-texte.png" alt="Accueil"
    /></a>
    <button
      class="navbar-toggler toggler-edit"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-light navbar-toggler-icon icon-edit"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        @if(logged == false){
        <li class="nav-item">
          <a
            class="nav-link connect"
            aria-current="page"
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
            >Se connecter</a
          >
        </li>
        }@else{
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/maformation']"
            routerLinkActive="router-link-active"
            >Ma Formation</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/mesblocs']"
            routerLinkActive="router-link-active"
            >Mes Blocs</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/ordinateur']"
            routerLinkActive="router-link-active"
            >Ordinateurs</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/videoprojecteur']"
            routerLinkActive="router-link-active"
            >Vidéoprojecteurs</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/bloc']"
            routerLinkActive="router-link-active"
            >Blocs</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/competence']"
            routerLinkActive="router-link-active"
            >Compétences</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/formation']"
            routerLinkActive="router-link-active"
            >Formations</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/matiere']"
            routerLinkActive="router-link-active"
            >Matières</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/salle']"
            routerLinkActive="router-link-active"
            >Salles</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/compte']"
            routerLinkActive="router-link-active"
            >Comptes</a
          >
        </li>
        <li class="nav-item">
          <a
            type="button"
            class="nav-link"
            aria-current="page"
            (click)="logout()"
            >Déconnexion</a
          >
        </li>
        }
      </ul>
    </div>
    @if(logged){
    <div class="nav-link">
      <p class="bonjour">
        <b>Login : {{ login }}</b>
      </p>
    </div>
    }
  </div>
</nav>
