<div class="accueil container-fluid">
  <div class="accueil-contenu">
    <img src="logo.png" alt="Logo La Factory" />
    <h1>Bienvenue à La Factory !</h1>
    <p>
      Nous sommes ravis de vous accueillir dans notre espace dédié à
      l'excellence et à l'innovation en matière de formation.<br />
      La Factory est bien plus qu'un simple centre de formation, c'est un
      écosystème dynamique où stagiaires et formateurs collaborent pour
      développer des compétences, <br />des savoir-faire et des connaissances
      qui répondent aux exigences du monde professionnel moderne.
    </p>
  </div>
</div>
